* {
    font-family: Alice, fantasy;
}

/* body */

body {
    background: linear-gradient(50deg, #00d4ff, #095b79);     
}

/* Header Styling */

#profilePic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    box-shadow: 3px -2px #98d2eb;
}

h1 {
    text-align: center;
    font-size: 4.3rem;
    color: #010d2d;
    text-shadow: 2px 2px #98d2eb;
}

h2 {
    font-size: 2.2rem;
    text-decoration: underline;
    color: #010d2d;
    text-shadow: .8px .8px #98d2eb;

}

h3 {
    text-align: left;
    font-size: 1.3rem;
    color: #010d2d;
}

h4 {
    text-align: center;
    font-size: 1.2rem;
    color: #010d2d;
}

/* List item Styling */

ul, li {
    font-size: 1.1rem;
    color: #010d2d;
}

/* Paragraph Styling */
p {
    font-size: 1.1rem;
    color: #010d2d;
}

/* Contact Styling (Email, Github, Linkedin) */

#email {
    text-decoration: none;
}

#contactPhrase {
    text-align: left;
    font-size: 1.5rem;
}

#linkedinLogo {
    width: 6rem;  
    text-align: center;
    border-radius: 50%;
    box-shadow: 2px -2px #98d2eb;
}

#githubLogo {
    width: 6rem;   
    text-align: center; 
    border-radius: 50%;
    box-shadow: 2px -2px #98d2eb;  
}

/* Links Styling */

a  {
    text-decoration: none;
        
}

a h3 {
    font-size: 1.3rem;
    color: #010d2d;
}

/* Project Pics Styling */

.projectPics {
    box-shadow: 3px -3px #d9d9d9;    
}

/* Footer Styling */

footer {
    text-align: center;
    font-size: 1.6rem;
    color: #010d2d;
    text-shadow: 1px 1px #98d2eb;
}